@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.pac-container {
  z-index: 10000 !important;
}

/* item detail carousel */
.item-detail-carousel-img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* height: 50px; */
  /* aspect-ratio: 1; */
  background-color: black;
  border-radius: 100%;
}

/* .carousel-control-next-icon::after { */
/*   content: ">"; */
/*   font-size: 28px; */
/*   color: white; */
/* } */

/* .carousel-control-prev-icon::after { */
/*   content: "<"; */
/*   font-size: 28px; */
/*   color: white; */
/* } */

/* profile page */
.profile-page-profile-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* chatroom */
.chat-container {
  display: flex;
  flex-direction: column-reverse;
  /* gap: 1rem; */
  /* flex: 1; */
  overflow-y: auto;
  height: 500px;
}

/* .chat-container::-webkit-scrollbar { */
/*   width: 0.2rem; */
/* } */

/* .chat-container::-webkit-scrollbar-thumb { */
/*   background-color: #ffffff39; */
/*   width: 0.1rem; */
/*   border-radius: 1rem; */
/* } */

/* general */
.vh-75 {
  height: 75vh;
}

.mw-80 {
  max-width: 80%;
}

.border-grey {
  border-color: grey;
}

.bg-lightgreen {
  background-color: #1bf097;
}

.btn-primary {
  color: #fff;
  background-color: #00af66 !important;
  border-width: 0 !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #029658 !important;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(0, 175, 102, 0.6);
}
